.venv
venv
.github
.git
.pytest_cache
infrastructure
__pycache__
.coverage
notebooks
tests
models/*
buf
.env
.coverage
docker_setup.sh
docker-compose.yml
docker-compose.simple.yml
Dockerfile.*
Dockerfile
entrypoint-simple.sh
run.sh
.pytest_cache
infrastructure
notebooks
__pycache__
